{% extends 'index.html'%}
{%load static %}
{% block style %}
<link href="{%static 'css/details.css' %}" rel="stylesheet">
{% endblock %}
{%block main %}
      <div class="container">
         <div class="card">
            <div class="container-fliud">
               <div class="wrapper row">
                  <div class="preview col-md-6">

                     <div class="preview-pic tab-content">
                       <div class="tab-pane active" id="pic-1"><img src="{{ product.image.url  }}" /></div>
                     </div>
                  </div>
                  <div class="details col-md-6">
                     <h3 class="product-title">{{product.name}}</h3>
                     <p class="product-description">{{ product.description }}</p>
                     <h4 class="price">current price: <span>{{ product.price }}</span></h4>
                     <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                     <div class="action">
                        <form method="POST" action="{% url 'cart:product-add' product.id %}">
                              {% csrf_token %}
                              {{form.as_p}}
                              <button class="add-to-cart btn btn-default" type="submit">add to cart</button>
                           <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% if recommends %}
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>Recommends</span>
               </h2>
            </div>
            <div class="row">
               {% for product in recommends  %}
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           {{ product.name }}
                           </a>
                           <a href="{% url 'shop:product-detail' product.id product.slug %}" class="option2">
                           Buy Now
                           </a>
                        </div>
                     </div>
                     <div class="img-box">
                        <img src='{{ product.image.url }}' alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           {{ product.name }}
                        </h5>
                        <h6>
                           {{ product.price }}
                        </h6>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </section>
      {% endif %}
{%endblock %}