{% extends "index.html" %}
{% block main%}
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Product Grid</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>products</span>
               </h2>
            </div>
         </div>
       <div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3 inn">
                <div class="card-header bg-dark  text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                        <li class="list-group-item"><a class="nav-link" href="{% url 'shop:product-list'%}">all</a></li>
                    {% for category in categories %}
                        <li class="list-group-item"><a class="nav-link"  href="{% url 'shop:product-list-by-category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
               {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top w-50 h-50 rounded mx-auto d-block" src="{{ product.image.url }}" alt="Card image cap" >
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'shop:product-detail' product.id product.slug  %}" title="View Product">{{ product.name }}</a></h4>
                            <p class="card-text">{{ product.description }}</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger  btn-block">{{ product.price }} $</p>
                                </div>
                                <div class="col">
                                    <form action="{% url 'cart:product-add' product.id %}" method="post" >
                                        {% csrf_token %}
                                     <input type="number"  name="quantity"  id="id_quantity" value="1"  hidden >
                                     <input type="hidden" name="override" value="False" id="id_override">
                                    <button type="submit" class="btn btn-outline-success btn-block ">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-12">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
      </section>
      <!-- end product section -->
{% endblock %}