{% extends 'index.html'%}
{%load static %}
{% block style %}
<link href="{%static 'css/details.css' %}" rel="stylesheet">
{% endblock %}
{%block main %}
      <div class="container">
         <div class="card">
            <div class="container-fliud">
               <div class="wrapper row">
                  <div class="preview col-md-6">

                     <div class="preview-pic tab-content">
                       <div class="tab-pane active" id="pic-1"><img src="{% static 'images/p1.png' %}" /></div>
                     </div>
                  </div>
                  <div class="details col-md-6">
                     <h3 class="product-title">{{product.name}}</h3>
                     <p class="product-description">{{ product.description }}</p>
                     <h4 class="price">current price: <span>{{ product.price }}</span></h4>
                     <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p>
                     <h5 class="sizes">
                     </h5>
                     <h5 class="colors">
                     </h5>
                     <div class="action">
                        <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                        <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  Our <span>Recomends</span>
               </h2>
            </div>
            <div class="row">
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Men's Shirt
                           </a>
                           <a href="" class="option2">
                           Buy Now
                           </a>
                        </div>
                     </div>
                     <div class="img-box">
                        <img src='images/p1.png' alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Men's Shirt
                        </h5>
                        <h6>
                           $75
                        </h6>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Add To Cart
                           </a>
                           <a href="" class="option2">
                           Buy Now
                           </a>
                        </div>
                     </div>
                     <div class="img-box">
                        <img src='images/p2.png' alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Men's Shirt
                        </h5>
                        <h6>
                           $80
                        </h6>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="box">
                     <div class="option_container">
                        <div class="options">
                           <a href="" class="option1">
                           Add To Cart
                           </a>
                           <a href="" class="option2">
                           Buy Now
                           </a>
                        </div>
                     </div>
                     <div class="img-box">
                        <img src='images/p3.png' alt="">
                     </div>
                     <div class="detail-box">
                        <h5>
                           Women's Dress
                        </h5>
                        <h6>
                           $68
                        </h6>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
{%endblock %}